body {
    height: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0, 81, 255, 0.3));
    background-repeat: no-repeat;
    opacity: 0.9;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #080f2e;
}

h2 {
    font-size: 23px;
    text-align: center;
    font-family: sans-serif;
    color: black;
}

h3 {
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
    color: #444444;
}

p {
    text-align: center;
    font-family: sans-serif;
    color: #ababab;
}

table {
    margin-left: auto;
    margin-right: auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width:50%;
}

td, th {
	border: 1px solid #242424;
	text-align: center;
	padding: 8px;
}

resultValue {
    color: rgb(0, 110, 255);
}

r:nth-child(even) {
	background-color: #ababab;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: grid;
    width: 90%;
    grid-template-columns: auto auto;
    background-color: rgb(101, 181, 247);
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #00b7ff;
    border-radius: 10px;
    opacity: 0.9;
    padding: 5px 30px 5px 30px;
    font-size: 15px;
    text-align: center;
}

input[type=submit], button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: #4CAF50;
    border-radius: 30px;
    color: white;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=submit]:hover, button:hover {
    background-color: rgb(31, 129, 34);
  }

input[type=text] {
    width: 130px;
    height: 24px;
    font-size: 15px;
    border-radius: 5px;
    text-indent: 7px;
}

.divLeft {
    display: inline-block;
    margin-right: 40px;
}

.divRight {
    display: inline-block;
}

::placeholder {
    color: #ababab;
    opacity: 0.8;
  }

img {
    width: 200px;
    border-radius: 30px;
}

a:link, a:visited {
    color: #0044ff;
    text-decoration: none;
}

a:hover {
    color: #00b7ff;
}