h1 {
    text-align: center;
    font-family: sans-serif;
    color: #080f2e;
}

h2 {
    font-size: 23px;
    text-align: center;
    font-family: sans-serif;
    color: black;
}

h3 {
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
    color: #444444;
}

p {
    text-align: center;
    font-family: sans-serif;
    color: #ababab;
}

table {
    margin-left: auto;
    margin-right: auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width:50%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

resultValue {
    color: rgb(0, 110, 255);
}

r:nth-child(even) {
	background-color: #ababab;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(101, 181, 247);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

input[type=submit], button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: #4CAF50;
    border-radius: 30px;
    color: white;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=submit]:hover, button:hover {
    background-color: rgb(31, 129, 34);
  }

input[type=text] {
    width: 130px;
    height: 24px;
    font-size: 15px;
    border-radius: 5px;
}

::placeholder {
    color: #ababab;
    opacity: 0.8;
  }

img {
    width: 200px;
    border-radius: 30px;
}